<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="url.site.fii" value="https://fiis.com.br/" />
    <add key="url.site.fundsexplorer" value="https://www.fundsexplorer.com.br/funds/" />
  </appSettings>
</configuration>